.starters{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 80px 60px;
    grid-column-gap: 20px;
    grid-row-gap:30px;
}
.food img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor:pointer;
    transform: 0.2s ease;
}
.food img:hover{
    transform: scale(1.04);
}
.food h4{
    padding:5px;
    text-align: center;
}
.food button{
    padding: 5px 30px;
    border:none;
    outline: none;
    background-color:brown;
    color:white;
    cursor:pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin:0 auto;
    transition: 0.2s all;
}
.food button:hover{
    transform:scale(1.08);
}